<p 
    [ngStyle]="{backgroundColor: getColor()}"
    [ngClass]="{online: serverStatus === 'online'}">Server with ID {{ serverId }} is {{ getServerStatus() }}</p>

<!-- Task #2 -->

<!-- Two-way binding -->
<!-- <input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName"> -->

<!-- Event binding -->
<!-- <input 
    type="text" 
    class="form-control"
    (input)="addServerName($event)"> -->

<!-- <p>Server name is {{ serverName }}</p> -->

<!-- <button 
    class="btn btn-danger"
    [disabled]="!isEmpty()"
    (click)="deleteServerName()">Delete</button> -->
